// ------------------------------------------------------------------------------
// name: index
// author: mudas( fnd.cool )
// created: 2021/5/11
// ------------------------------------------------------------------------------

@import '../style/var';
@import "../style/mixins/bem";

@include b(goods) {
  font-size: inherit;

  &--col1, &--base {
    .sb-goods-item {
      &__detail-title {
        font-size: $--font-size-medium;
      }
    }
  }

  &--base {
    .sb-goods-item {
      &__soldout {
        top: 90px;
        width: 100%;
        max-width: 120px;
      }
    }
  }

  &--col1 {
    .sb-goods-item {
      &__soldout {
        top: 120px;
        width: 100%;
        max-width: 120px;
      }
    }
  }

  &--col2 {
    .sb-goods-item {

      &__thumb {
        height: 160px;
      }

      &__detail {
        min-height: 40px;
      }

      &__soldout {
        top: 90px;
        width: 100%;
        max-width: 100px;
      }
    }
  }

  &--col3 {
    .sb-goods-item {
      &__thumb {
        height: 120px;
      }

      &__detail {
        min-height: 40px;
      }

      &__detail-desc {
        font-size: $--font-size-extra-small;
      }

      &__soldout {
        top: 70px;
        width: 100%;
        max-width: 80px;
      }
    }
  }

  &--block {
    .sb-goods-item {
      &__soldout {
        left: 50px;
        top: 55px;
        width: 100%;
        max-width: 80px;
      }
    }
  }

  &--block2 {
    .sb-goods-item {
      &__soldout {
        left: 70px;
        top: 70px;
        width: 100%;
        max-width: 100px;
      }
    }
  }
}
